<!DOCTYPE html>
<html>
<head>
    <title>Cucumber JSON Html renderer</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Features</h1>
<hr>
<% features.forEach(function(feature){ %>
Name: <%= feature.getName() %>
<br/>
Number of scenarios: <%= feature.getScenarios().length %>
<br/>
Statatistics:
<ul>
    <li><%= feature.getStatistics().passed %></li>
    <li><%= feature.getStatistics().failures %></li>
</ul>
<br/>
Passed scenarios: <%= feature.getSuccess().length %>
<br>
Failed Scenarios: <%= feature.getFailures().length %>
<hr>
<% }) %>

</body>
</html>