<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cucumber JSON Html renderer</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<div class="page-header">
    <h1><img alt="Brand" src="/images/favicon.png">
        <%= title %>
        <small>HTML pretty custom renderer</small>
    </h1>
</div>

<div class="back-previous">
    <a href="/" class="btn btn-info btn-lg">Back to Chart view</a>
</div>
<br>

<h2>(<%= features.length %>) Features</h2>
<br>
<% features.forEach(function(feature){ %>
Name: <%= feature.getName() %>
<br/>
(<%= feature.getScenarios().length %>) Scenarios
<br/>
Statistics:
<ul>
    <li><%= feature.getStatistics().passed %></li>
    <li><%= feature.getStatistics().failures %></li>
</ul>
Passed scenarios: <%= feature.getSuccess().length %>
<br>
Failed scenarios: <%= feature.getFailures().length %>
<hr>
<% }) %>
</body>
</html>